# 04_27 과제
<pre>
1. 당뇨병 데이터(다중회귀)
    - LR, SVR, RFR, XGR
2. 유방암 데이터(차원축소 / 군집화)
    - 10, 5, 2 차원으로 차원축소
    - 원본과 차원축소한 데이터의 분류(앙상블) 정확도 측정
    - 군집화하기
    - 2차원으로 축소한 것은 시각화(오리지날, 군집 데이터)
</pre>
별도의 폴더에 본인이름.html 파일 두개를 만들어서 각각 제출하세요.

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [ ]:
from sklearn.datasets import load_diabetes
diabetes = load_diabetes()
df = pd.DataFrame(diabetes.data, columns=diabetes.feature_names)
df['target'] = diabetes.target
df.head()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,target
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930,141.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362,206.0
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641,135.0

## 1. LR, SVR, RFR, XGR

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    diabetes.data, diabetes.target, test_size=0.2, random_state=2000
)

LinearRegression()

In [ ]:
from sklearn.metrics import r2_score, mean_squared_error
# LR
lr = LinearRegression()
lr.fit(X_train, y_train)
pred_lr = lr.predict(X_test)
r2_lr = r2_score(y_test, pred_lr)
mse_lr = mean_squared_error(y_test, pred_lr)

# SVR
from sklearn.svm import SVR
svr = SVR()
svr.fit(X_train, y_train)
pred_sv = svr.predict(X_test)
r2_sv = r2_score(y_test, pred_sv)
mse_sv = mean_squared_error(y_test, pred_sv)

# RFR
from sklearn.ensemble import RandomForestRegressor
rfr = RandomForestRegressor(random_state=2000)
rfr.fit(X_train, y_train)
pred_rf = rfr.predict(X_test)
r2_rf = r2_score(y_test, pred_rf)
mse_rf = mean_squared_error(y_test, pred_rf)

# XGR
from xgboost import XGBRegressor
xgr = XGBRegressor(random_state=2022)
xgr.fit(X_train, y_train)
pred_xg = xgr.predict(X_test)
r2_xg = r2_score(y_test, pred_xg)
mse_xg = mean_squared_error(y_test, pred_xg)

[07:34:39] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

### LR, SVR, RFR, XGR 비교

In [43]:
print('LR\tSVR\tRFR\tRF\tXGR')
print(f'{r2_lr:.4f}\t{r2_sv:.4f}\t{r2_sv:.4f}\t{r2_rf:.4f}\t{r2_xg:.4f}')
print(f'{mse_lr:.4f}\t{mse_sv:.4f}\t{mse_sv:.4f}\t{mse_rf:.4f}\t{mse_xg:.4f}')

LR	SVR	RFR	RF	XGR
0.3618	0.1643	0.1643	0.3301	0.3100
3028.8644	3966.3407	3966.3407	3179.5711	3274.9495

In [ ]:
df = pd.DataFrame({
    'y_test': y_test, 'LR': pred_lr, 'SVR': pred_sv,
    'RFR': pred_rf, 'XGR': pred_xg
})
df.head(10)

   y_test          LR         SVR     RFR         XGR
0   174.0  173.433842  148.039716  152.32  145.087921
1   127.0  120.337120  127.590498  127.76  144.148834
2   276.0  161.528972  130.548592  142.11  158.258636
3    88.0  106.287819  127.028349  122.30   98.376953
4   170.0   85.640943  129.924125  140.32  130.837891
5   229.0  187.902310  152.556687  172.98  157.686188
6    78.0   45.708979  120.526864   91.07   96.341850
7   110.0  168.291285  145.317197  155.51  146.370178
8   185.0  143.807281  128.947000  152.70  159.894501
9    69.0  102.601158  119.370159  118.32  133.849030